<aside class="left-sidebar">
    <div>
        <div class="brand-logo d-flex align-items-center justify-content-between">
            <a asp-controller="Admin" asp-action="Dashboard" class="text-nowrap logo-img">
                <img src="~/images/logos/logo.svg" alt="Logo" />
            </a>
            <div class="close-btn d-xl-none d-block sidebartoggler cursor-pointer" id="sidebarCollapse">
                <i class="ti ti-x fs-6"></i>
            </div>
        </div>
        <nav class="sidebar-nav scroll-sidebar" data-simplebar="">
            <ul id="sidebarnav">
                <li class="nav-small-cap">
                    <iconify-icon icon="solar:menu-dots-linear" class="nav-small-cap-icon fs-4"></iconify-icon>
                    <span class="hide-menu">Home</span>
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link" asp-controller="Admin" asp-action="Dashboard" aria-expanded="false">
                        <i class="ti ti-atom"></i>
                        <span class="hide-menu">Dashboard</span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link" asp-controller="Admin" asp-action="Subjects" aria-expanded="false">
                        <i class="ti ti-atom"></i>
                        <span class="hide-menu">User Management</span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link" href="/Foods" aria-expanded="false">
                        <i class="ti ti-tools-kitchen-2"></i>
                        <span class="hide-menu">Food Management</span>
                    </a>
                </li>

                <li class="sidebar-item">
                    <a class="sidebar-link" href="/Category" aria-expanded="false">
                        <i class="ti ti-tools-kitchen-2"></i>
                        <span class="hide-menu">Category Management</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</aside>
