USE [master]
GO
/****** Object:  Database [RestaurantQROrdering]    Script Date: 06/08/2025 06:54:53 ******/
CREATE DATABASE [RestaurantQROrdering]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'RestaurantQROrdering', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\RestaurantQROrdering.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'RestaurantQROrdering_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\RestaurantQROrdering_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [RestaurantQROrdering].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [RestaurantQROrdering]
GO
/****** Object:  Table [dbo].[Admins]    Script Date: 06/08/2025 06:54:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Admins](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Username] [nvarchar](100) NOT NULL,
	[PasswordHash] [nvarchar](200) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Categories]    Script Date: 06/08/2025 06:54:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categories](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[isAvailable] [bit] NOT NULL,
 CONSTRAINT [PK__Categori__3214EC07DB277FD1] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MenuItems]    Script Date: 06/08/2025 06:54:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MenuItems](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](200) NOT NULL,
	[Price] [decimal](10, 2) NOT NULL,
	[ImageUrl] [nvarchar](500) NULL,
	[IsAvailable] [bit] NOT NULL,
	[CategoryId] [int] NOT NULL,
	[Description] [text] NULL,
 CONSTRAINT [PK__MenuItem__3214EC076276C5B0] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderItems]    Script Date: 06/08/2025 06:54:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderItems](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[OrderId] [int] NOT NULL,
	[MenuItemId] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
	[UnitPrice] [decimal](10, 2) NOT NULL,
	[RejectionReason] [nvarchar](255) NULL,
	[Status] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK__OrderIte__3214EC070ADB3799] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Orders]    Script Date: 06/08/2025 06:54:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TableId] [int] NOT NULL,
	[OrderTime] [datetime] NULL,
	[Status] [nvarchar](50) NULL,
	[Note] [nvarchar](500) NULL,
	[TotalMoney] [decimal](10, 2) NULL,
	[IsTakeAway] [bit] NULL,
 CONSTRAINT [PK__Orders__3214EC0722E039CA] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tables]    Script Date: 06/08/2025 06:54:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tables](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TableNumber] [int] NOT NULL,
	[QRCodeToken] [nvarchar](100) NOT NULL,
	[IsActive] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Admins] ON 

INSERT [dbo].[Admins] ([Id], [Username], [PasswordHash]) VALUES (1, N'admin', N'123456')
SET IDENTITY_INSERT [dbo].[Admins] OFF
GO
SET IDENTITY_INSERT [dbo].[Categories] ON 

INSERT [dbo].[Categories] ([Id], [Name], [isAvailable]) VALUES (1, N'Hải Sản không tươi', 1)
INSERT [dbo].[Categories] ([Id], [Name], [isAvailable]) VALUES (2, N'Hải Sản chín', 1)
INSERT [dbo].[Categories] ([Id], [Name], [isAvailable]) VALUES (3, N'Đồ tráng miệng', 1)
SET IDENTITY_INSERT [dbo].[Categories] OFF
GO
SET IDENTITY_INSERT [dbo].[MenuItems] ON 

INSERT [dbo].[MenuItems] ([Id], [Name], [Price], [ImageUrl], [IsAvailable], [CategoryId], [Description]) VALUES (1, N'Cá ngừ', CAST(45000.00 AS Decimal(10, 2)), N'https://cdn2.fptshop.com.vn/unsafe/1920x0/filters:format(webp):quality(75)/2023_10_17_638331605340126279_ca-ngu-dai-duong-0.jpg', 1, 1, N'ngon')
INSERT [dbo].[MenuItems] ([Id], [Name], [Price], [ImageUrl], [IsAvailable], [CategoryId], [Description]) VALUES (2, N'Cá tầm', CAST(50000.00 AS Decimal(10, 2)), N'https://catamngabeluga.vn/wp-content/uploads/2024/06/Dauca-1-600x531.png', 1, 1, NULL)
INSERT [dbo].[MenuItems] ([Id], [Name], [Price], [ImageUrl], [IsAvailable], [CategoryId], [Description]) VALUES (3, N'Cá hồi', CAST(45000.00 AS Decimal(10, 2)), N'https://haisanmino.com/wp-content/uploads/2024/08/sashimi-ca-hoi-nhat-ban.webp', 1, 1, NULL)
SET IDENTITY_INSERT [dbo].[MenuItems] OFF
GO
SET IDENTITY_INSERT [dbo].[OrderItems] ON 

INSERT [dbo].[OrderItems] ([Id], [OrderId], [MenuItemId], [Quantity], [UnitPrice], [RejectionReason], [Status]) VALUES (1, 1, 1, 2, CAST(50000.00 AS Decimal(10, 2)), NULL, N'Accept')
INSERT [dbo].[OrderItems] ([Id], [OrderId], [MenuItemId], [Quantity], [UnitPrice], [RejectionReason], [Status]) VALUES (2, 1, 3, 1, CAST(5000.00 AS Decimal(10, 2)), NULL, N'Accepted')
INSERT [dbo].[OrderItems] ([Id], [OrderId], [MenuItemId], [Quantity], [UnitPrice], [RejectionReason], [Status]) VALUES (1002, 2, 2, 1, CAST(50000.00 AS Decimal(10, 2)), NULL, N'Accepted')
SET IDENTITY_INSERT [dbo].[OrderItems] OFF
GO
SET IDENTITY_INSERT [dbo].[Orders] ON 

INSERT [dbo].[Orders] ([Id], [TableId], [OrderTime], [Status], [Note], [TotalMoney], [IsTakeAway]) VALUES (1, 1, CAST(N'2025-07-07T22:06:26.837' AS DateTime), N'Rejected', N'alo 123', CAST(80000.00 AS Decimal(10, 2)), 1)
INSERT [dbo].[Orders] ([Id], [TableId], [OrderTime], [Status], [Note], [TotalMoney], [IsTakeAway]) VALUES (2, 1, CAST(N'2025-07-21T22:17:22.157' AS DateTime), N'Completed', N'alo', CAST(80000.00 AS Decimal(10, 2)), 1)
INSERT [dbo].[Orders] ([Id], [TableId], [OrderTime], [Status], [Note], [TotalMoney], [IsTakeAway]) VALUES (3, 1, CAST(N'2025-07-21T22:29:25.707' AS DateTime), N'Completed', N'', CAST(285000.00 AS Decimal(10, 2)), 1)
SET IDENTITY_INSERT [dbo].[Orders] OFF
GO
SET IDENTITY_INSERT [dbo].[Tables] ON 

INSERT [dbo].[Tables] ([Id], [TableNumber], [QRCodeToken], [IsActive]) VALUES (1, 1, N'abc123', 1)
INSERT [dbo].[Tables] ([Id], [TableNumber], [QRCodeToken], [IsActive]) VALUES (3, 1, N'table-1', 1)
INSERT [dbo].[Tables] ([Id], [TableNumber], [QRCodeToken], [IsActive]) VALUES (4, 2, N'table-2', 1)
SET IDENTITY_INSERT [dbo].[Tables] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Admins__536C85E44B7709CE]    Script Date: 06/08/2025 06:54:54 ******/
ALTER TABLE [dbo].[Admins] ADD UNIQUE NONCLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Tables__06DDDBF407C15234]    Script Date: 06/08/2025 06:54:54 ******/
ALTER TABLE [dbo].[Tables] ADD UNIQUE NONCLUSTERED 
(
	[QRCodeToken] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[MenuItems] ADD  CONSTRAINT [DF__MenuItems__IsAva__2B3F6F97]  DEFAULT ((1)) FOR [IsAvailable]
GO
ALTER TABLE [dbo].[Orders] ADD  CONSTRAINT [DF__Orders__OrderTim__2F10007B]  DEFAULT (getdate()) FOR [OrderTime]
GO
ALTER TABLE [dbo].[Orders] ADD  CONSTRAINT [DF__Orders__Status__300424B4]  DEFAULT ('Pending') FOR [Status]
GO
ALTER TABLE [dbo].[Tables] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[MenuItems]  WITH CHECK ADD  CONSTRAINT [FK__MenuItems__Categ__2C3393D0] FOREIGN KEY([CategoryId])
REFERENCES [dbo].[Categories] ([Id])
GO
ALTER TABLE [dbo].[MenuItems] CHECK CONSTRAINT [FK__MenuItems__Categ__2C3393D0]
GO
ALTER TABLE [dbo].[OrderItems]  WITH CHECK ADD  CONSTRAINT [FK__OrderItem__Order__35BCFE0A] FOREIGN KEY([OrderId])
REFERENCES [dbo].[Orders] ([Id])
GO
ALTER TABLE [dbo].[OrderItems] CHECK CONSTRAINT [FK__OrderItem__Order__35BCFE0A]
GO
ALTER TABLE [dbo].[OrderItems]  WITH CHECK ADD  CONSTRAINT [FK_OrderItems_MenuItems] FOREIGN KEY([MenuItemId])
REFERENCES [dbo].[MenuItems] ([Id])
GO
ALTER TABLE [dbo].[OrderItems] CHECK CONSTRAINT [FK_OrderItems_MenuItems]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_Orders_Tables] FOREIGN KEY([TableId])
REFERENCES [dbo].[Tables] ([Id])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_Orders_Tables]
GO
USE [master]
GO
