@model RestaurantOrderingProject.Models.Category

<h2>Sửa Danh Mục</h2>
<form asp-action="Edit">
    <input type="hidden" asp-for="Id" />
    <label asp-for="Name">Tên:</label>
    <input asp-for="Name" />
    <span asp-validation-for="Name"></span>
    <button type="submit">Cập Nhật</button>
</form>